<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Details</title>
</head>
<body>
    <nav class="shadow">
        <div class="mx-auto w-screen px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="block h-8 w-auto lg:hidden"
                            src="https://react-proyect-bonasegla.vercel.app/static/media/logoBonaDrinks.ee08d7fcebaa9123ac0c.png" alt="Your Company">
                        <img class="hidden h-8 w-auto lg:block"
                            src="https://react-proyect-bonasegla.vercel.app/static/media/logoBonaDrinks.ee08d7fcebaa9123ac0c.png" alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <a href="/home" class="hover:bg-gray-700 hover:text-white  px-3 py-2 rounded-md text-sm font-medium"
                                aria-current="page">Inicio</a>

                            <a href="/products"
                                class="hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Productos</a>

                            <a href="/cart"
                                class="hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Carrito</a>                           
                            
                                                        
                            <a href="/profile"
                                class="hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="flex-col text-center bg-gray-300 w-2/12 h-auto p-4 m-4">
        <% if (userCart.length == 0) { %>
            No products added to cart/s
        <% } else { %>
            <div class="dFlexCol">
                <% userCart.map(prod => { %>
                    <div class="mt20 mb20">
                        <div>
                            <img src=<%=prod.image%> class="w-40">
                            <div class="title"><%= prod.title %></div>
                            <div class="price">$<%= prod.price %> USD</div>
                            <button onClick="deleteCartProduct('<%= prod._id.toString() %>')" class="text-red-500 font-bold" >Delete</button>
                        </div>
                    </div>
                <% }) %>
            </div>
            <button onClick="deleteCartAll()" class="bg-red-500 p-2 mt-10 text-white rounded font-bold">Delete all</button>
        <% } %>
    </div>
    <div class='flex items-center justify-center' onClick="send('<%= JSON.stringify(userCart) %>')">
        <div className="md:w-72 rounded-3xl md:p-1 text-center flex flex-row md:flex-col ">
            <button type="button"
                class="text-white bg-[#25D366] hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-2xl  text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2">
                <span class="px-2 py-4 text-2xl text-gray-100 border-l-2 border-gray-100 font-mono">
                </span>
                <div class='text-xl font-mono font-bold pt-0.5'>
                    Enviar Orden
                </div>
            </button>
        </div>
    </div>
    <script src="cart.js" type="text/javascript"></script>
</body>
</html>