<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script defer src="/chat.js"></script>
    <title>Publicar</title>
</head>

<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <nav class="shadow">
        <div class="mx-auto w-screen px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="block h-8 w-auto lg:hidden"
                            src="https://react-proyect-bonasegla.vercel.app/static/media/logoBonaDrinks.ee08d7fcebaa9123ac0c.png" alt="Your Company">
                        <img class="hidden h-8 w-auto lg:block"
                            src="https://react-proyect-bonasegla.vercel.app/static/media/logoBonaDrinks.ee08d7fcebaa9123ac0c.png" alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <a href="/home" class="hover:bg-gray-700 hover:text-white  px-3 py-2 rounded-md text-sm font-medium"
                                aria-current="page">Inicio</a>
                            <a href="/products"
                                class="hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Productos</a>

                            <a href="/cart"
                                class="hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Carrito</a>
                                                        
                            <a href="/profile"
                                class="hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="bg-stone-400 m-5 p-5">
        <div id="percentage"></div>
        <div class="m-5" id="messages"></div>
    
        <form id="messageSubmit">
            Email: <input id="Email" type="text" name="Email">
            Nombre: <input id="Nombre" type="text" name="Nombre">
            Apellido: <input id="Apellido" type="text" name="Apellido">
            Edad: <input id="Edad" type="text" name="Edad">
            Alias: <input id="Alias" type="text" name="Alias">
            Mensaje: <input id="Mensaje" type="text" name="Mensaje">
    
            <input class="bg-gray-500 p-2" type="submit" value="Send">
        </form>

        <a class="cursor-pointer font-bold bg-blue-400 rounded p-1 ml-2" href=<%=`/chat/${email}`%>>Ver mis mensajes</a>
    </div>

    <div>
        <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
            <div>
                <h3 class="text-2xl font-bold tracking-tight text-gray-900">Categorias</h3>
                <br>
                <a class="cursor-pointer font-bold bg-blue-500 rounded p-1 ml-2" href=<%=`/products`%>>Todos los productos</a>
                <a class="cursor-pointer font-bold bg-blue-500 rounded p-1 ml-2" href=<%=`/products/category/Vodka`%>>Vodka</a>
                <a class="cursor-pointer font-bold bg-blue-500 rounded p-1 ml-2" href=<%=`/products/category/Whisky`%>>Whisky</a>
                <a class="cursor-pointer font-bold bg-blue-500 rounded p-1 ml-2" href=<%=`/products/category/Fernet`%>>Fernet</a>
                <a class="cursor-pointer font-bold bg-blue-500 rounded p-1 ml-2" href=<%=`/products/category/Energizante`%>>Energizante</a>
            </div>



            <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <% if (products.length===0) { %>
                    <h2>No products</h2>
                    <% } else { %>
                        <% products.map (element=> { %>
                            <% if (sessionUsername.role === 'admin') { %>
                                <div class="relative p-2">
                                    <div
                                        class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md lg:aspect-none lg:h-80">
                                        <img src=<%=element.image%> class="h-full w-full object-scale-down lg:h-full lg:w-full">
                                    </div>
                                    <div class="mt-4 flex justify-between">
                                        <div>
                                            <h3 class="text-sm text-gray-700">
                                                <%=element.title%>
                                            </h3>
                                            <p class="mt-1 text-sm text-gray-500">
                                                <%=element.category%>
                                            </p>
                                        </div>
                                        <p class="text-sm font-medium text-gray-900">$<%=element.price%>
                                        </p>
                                    </div>
                                    <div class="flex">
                                        <button id="add" class="cursor-pointer bg-green-500 rounded p-1 ml-2" onClick="addProduct('<%= element.id %>')"> Add </button>
                                        <a class="cursor-pointer font-bold bg-blue-400 rounded p-1 ml-2" href=<%=`/products/${element.id}`%>>Details</a>
                                        <% if (sessionUsername.role === 'admin') { %>
                                            <a class="cursor-pointer font-bold bg-blue-500 rounded p-1 ml-2" href=<%=`/products/${element.id}/edit`%>>Edit</a>
                                            <button id="delete" class="cursor-pointer bg-red-500 rounded p-1 ml-2" onClick="deleteProduct('<%= element.id %>')"> Delete </button>
                                        <% } %>
                                    </div>
                                </div>          
                            <% } else { %>
                                <% if (element.stock > 0) { %>
                                    <div class="relative p-2">
                                        <div
                                            class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md lg:aspect-none lg:h-80">
                                            <img src=<%=element.image%> class="h-full w-full object-scale-down lg:h-full lg:w-full">
                                        </div>
                                        <div class="mt-4 flex justify-between">
                                            <div>
                                                <h3 class="text-sm text-gray-700">
                                                    <%=element.title%>
                                                </h3>
                                                <p class="mt-1 text-sm text-gray-500">
                                                    <%=element.category%>
                                                </p>
                                            </div>
                                            <p class="text-sm font-medium text-gray-900">$<%=element.price%>
                                            </p>
                                        </div>
                                        <div class="flex">
                                            <button id="add" class="cursor-pointer bg-green-500 rounded p-1 ml-2" onClick="addProduct('<%= element.id %>')"> Add </button>
                                            <a class="cursor-pointer font-bold bg-blue-400 rounded p-1 ml-2" href=<%=`/products/${element.id}`%>>Details</a>
                                        </div>
                                    </div> 
                                    <% } %>  
                            <% } %>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/cart.js"></script>
    <script src="/delete.js"></script>
</body>
</html>